body{
	padding-top: 70px;
	font-family: palatino;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.container-fluid{
	background-color
	: #eceeef
}

.navbar{
	height: 75px;
}

.jumbotron img{

	display:block;
	margin-left:auto;
	margin-right:auto;

}

.team_logo{
	float : left;
	width: 100px;
}

.dropdown_image{
	width: 40px;
	height: 40px;
}

.player-image{
	width:210px;
	height:240px;
}

.slide_image{
	height: 700px;
	width: 1292px;
}

.rosters{

	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.player-image:hover{
	transition: all linear 0.5s;
	cursor:pointer;
	width:220px;
	height:260px;
	
}

ul{
	padding:0;
}

.player_information{ 	
	list-style-type: none;
}

.footer{
	text-align: center;
	background-color: white;
	width: 100vw;
	left: 0;
	bottom: 0;
	padding: 0.5rem 1rem;
	float: left;

}









